spring:
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true

  datasource:
    url: jdbc:mysql://projecttt-databse-deploy.cpj1bduzsphj.ap-northeast-2.rds.amazonaws.com:13306/test?useSSL=false&characterEncoding=UTF-8&serverTimezone=UTC
    username: admin
    password: projecttt32
    driver-class-name: com.mysql.cj.jdbc.Driver

  config:
    domain: http://projecttt-client-bucket.s3-website.ap-northeast-2.amazonaws.com/

jwt:
  secret: hanguseokkey

cloud:
  aws:
    s3:
      bucket: projecttt-client-bucket
    region:
      static: ap-northeast-2
    stack:
      auto: false
    credentials:
      instanceProfile: true