#header {
  font-family: 'Noto Sans KR';
  font-weight: 600;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid rgb(219, 219, 219);
  position: sticky;
  top: 0;
  height: 80px;
  z-index: 10;
}
#logo-link > img {
  margin-top: -2px;
  margin-left: 20px;
  width: 210px;
}

#nav > #ul {
  display: flex;
}

#ul > li {
  margin-left: 10px;
  margin-right: 40px;
  cursor: pointer;
}

.text-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  all: unset;
  transition: all 0.3s;
}

.text-link:hover {
  color: teal;
}

.nav-btn {
  all: unset;
}

/* ipad */
@media screen and (max-width: 850px) {
  #header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 15px;
    height: 260px;
    position: sticky;
    top: 0;
  }

  #logo-link > img {
    margin-top: 5px;
    margin-bottom: -7px;
    margin-left: -8px;
  }

  #ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
  }

  #ul > li {
    margin-top: 20px;
    cursor: pointer;
  }

  .text-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    all: unset;
    transition: all 0.3s;
  }

  .text-link:hover {
    color: teal;
  }
}
