#header {
  font-family: 'Noto Sans KR';
  font-weight: 600;
  font-size: 15px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  background-color: white;
  border-bottom: 1px solid rgb(219, 219, 219);
  z-index: 10;
}
#logo-link > img {
  margin-top: -2px;
  margin-left: 20px;
  width: 210px;
}

#nav > #ul {
  display: flex;
}

#ul > li {
  margin-left: 10px;
  margin-right: 40px;
  cursor: pointer;
}

.text-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  all: unset;
  transition: all 0.3s;
}

.text-link:hover {
  color: teal;
}

.nav-btn {
  all: unset;
}

/* Mobile Device */
/*768px 미만 해상도의 모바일 기기를 위한 코드를 작성한다. 모든 해상도에서 이 코드가 실행됨. 미디어 쿼리를 지원하지 않는 모바일 기기를 위해 미디어 쿼리 구문을 사용하지 않는다.*/

/* Tablet & Desktop Device */
/*사용자 해상도가 768px 이상일 때 이 코드가 실행됨. 테블릿과 데스크톱의 공통 코드를 작성한다.*/
@media all and (min-width: 768px) {
  #header {
    font-family: 'Noto Sans KR';
    font-weight: 600;
    font-size: 15px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: white;
    border-bottom: 1px solid rgb(219, 219, 219);
    z-index: 10;
  }
  #logo-link > img {
    margin-top: -2px;
    margin-left: 20px;
    width: 210px;
  }
}

/* ipad */
@media screen and (max-width: 850px) {
  #header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 15px;
    height: 260px;
  }

  #logo-link > img {
    margin-top: 5px;
    margin-bottom: -7px;
    margin-left: -8px;
  }

  #ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
  }

  #ul > li {
    margin-top: 20px;
    cursor: pointer;
  }

  .text-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    all: unset;
    transition: all 0.3s;
  }

  .text-link:hover {
    color: teal;
  }
}
