#header {
  font-family: 'Noto Sans KR';
  font-weight: 600;
  font-size: 15px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  background-color: white;
  border-bottom: 1px solid rgb(219, 219, 219);
  z-index: 10;
}
#logo-link > img {
  margin-top: -2px;
  margin-left: 20px;
  width: 210px;
}

#nav > #ul {
  display: flex;
}

#ul > li {
  margin-left: 10px;
  margin-right: 40px;
  transition-property: all;
  transition-duration: 0.3s;
  cursor: pointer;
}

li:hover {
  color: teal;
}

.text-link {
  text-decoration: none;
  color: inherit;
  transition-property: all;
  transition-duration: 0.3s;
  cursor: pointer;
  all: unset;
}

.text-link:hover {
  color: teal;
}

.nav-btn {
  all: unset;
}
