#mypage {
  font-family: 'Noto Sans KR';
  width: 100%;
}

#profile-contents {
  display: flex;
  flex-direction: column;
}

#profile-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.info-title {
  font-size: 20px;
  margin-bottom: 30px;
  color: teal;
}

#member-name {
  margin-top: 20px;
  font-size: 18px;
}

#profile-photo > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  box-shadow: 0px 0px 7px 7px rgb(206, 206, 206, 0.5);
}

#profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#profile-wrapper > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 15px;
}

.profile-title {
  margin-bottom: 10px;
}

.profile-description {
  margin-bottom: 10px;
}

#review-contents {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 500px;
}

#btn-contents {
  display: flex;
  justify-content: center;
}
