#container {
  display: flex;
  justify-content: center;
}
.row_group > h3 {
  margin: 19px 0 8px;
  font-size: 17px;
  font-weight: 700;
  padding-left: 5px;
}

body {
  margin: 0;
  height: 100%;
  background: #f5f6f7;
  font-family: Dotum, '돋움', Helvetica, sans-serif;
}

.input_box {
  display: block;
  width: 350px;
  height: 45px;
  border: solid 1px #dadada;
  padding: 10px 15px 10px 14px;
  box-sizing: border-box;
  background: #fff;
  position: relative;
}

.int {
  display: block;
  position: relative;
  width: 100%;
  height: 29px;
  border: none;
  background: #fff;
  font-size: 15px;
}

input {
  font-family: Dotum, '돋움', Helvetica, sans-serif;
}

.alert-box {
  color: #d82a2a;
  width: 13rem;
  height: 1rem;
  text-align: center;
  background-color: #ffffff;
  border-color: #ff283d;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid;
  border-radius: 0.55rem;
  border-width: 1.8px;
}

.alert-message {
  margin-top: 5px;
  color: #e2091f;
}

.signup-btn {
  background-color: #3d3d3d; /* Green */
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: block;
  margin-top: 30px;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: teal;
}

#signup-title {
  font-size: 22px;
  margin-top: 15px;
  font-weight: 500;
}
