	
.theme-img {
    width: 300px;
    height: 150px;
    object-fit: cover;
    margin-right: 1rem;
}

.hash {
    margin-top: 2rem;
    margin-left: 5rem;
    position: relative;
}

.imagebox {
    margin-top: 2rem;
    margin-left: 4rem;
    position: relative;
}