#landing-top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 0px 0px 20px 10px rgb(206, 206, 206, 0.9);
}

#landing-top-content > video {
  width: 100%;
  height: 500px;
  object-fit: cover;
  filter: brightness(70%);
  position: relative;
}

#landing-top-content > #landing-top-text {
  position: absolute;
  font-family: 'NanumSquare';
  font-size: 50px;
  font-weight: 500;
  color: white;
  text-align: center;
  line-height: 130%;
  text-shadow: 2px 2px 4px rgb(22, 22, 22);
  border-bottom: 3px solid white;

  /*줄바꿈*/
  white-space: pre-wrap;
}
